* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.form-layout {

}


.form-row {
    display: flex;
    gap: 0.5vw;
    flex: 1;
    padding: 10px;
}

@media (max-width: 320px) {
    .form-row {
        flex-direction: column;
    }
}

.form-row input {
    flex: 12;
    padding: 10px 0;
}

@media (max-width: 800px) {
    .form-row input {
        flex: 6;
    }
}

@media (max-width: 400px) {
    .form-row input {
        flex: 4;
    }
}

.form-row label {
    flex: 1;
    padding: 10px 0;

}