body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

p::before{
    content: '';
    position: relative;
    display: block;
    width: 5%;
    height: 10px;
    background-color: red;
}